<link href="https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lustria" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=GFS+Didot" rel="stylesheet">

<nav class="navbar navbar-expand-md navbar-dark fixed-top my-navbar">
	<a class="navbar-brand" href="#">Jing</a>
	<button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
		<ul class="navbar-nav mr-auto justify-content-end">
			<li class="nav-item dropdown" ngbDropdown>
				<a class="nav-link dropdown-toggle" id="id01" ngbDropdownToggle>Work</a>
				<div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
					<a class="dropdown-item orange-text" href="projects/itale">iTale</a>
					<a class="dropdown-item yellow-text" href="projects/dunhuang">Dunhuang</a>
					<a class="dropdown-item purple-text" href="projects/echoes">Echoes</a>
					<a class="dropdown-item green-text" href="projects/stretch">Stretch</a>
					<a class="dropdown-item coral-text" href="projects/involved">Involved</a>
					<!--<a class="dropdown-item blue-text" href="projects/poco">Poco A Poco</a>-->
				</div>
			</li>
			<li class="nav-item navbar-right">
				<a class="nav-link" id="id02" href="">About</a>
			</li>
			<li class="nav-item navbar-right">
				<a class="nav-link" id="id03" href="assets/file/resume_jy-2020.pdf" target="_blank">Resume</a>
			</li>
		</ul>
	</div>
</nav>

<div class="timeline" *ngIf="isScrolled1">
	<a (click)="scrollToElement(bigpart1)">
		<div class="container left" [ngClass]="(!isScrolled2 && isScrolled1) ? 'selected' : 'not-selected'">
			<p class="menu-section-title">Overview</p>
		</div>
	</a>
	<a (click)="scrollToElement(bigpart2)">
		<div class="container left" [ngClass]="(!isScrolled3 && isScrolled2) ? 'selected' : 'not-selected'">
			<p class="menu-section-title">Outcomes</p>
		</div>
	</a>
	<a (click)="scrollToElement(bigpart3)">
		<div class="container left" [ngClass]="(!isScrolled4 && isScrolled3) ? 'selected' : 'not-selected'">
			<p class="menu-section-title">Research</p>
		</div>
	</a>
	<a (click)="scrollToElement(bigpart4)">
		<div class="container left" [ngClass]="(!isScrolled5 && isScrolled4) ? 'selected' : 'not-selected'">
			<p class="menu-section-title">Ideation</p>
		</div>
	</a>
	<a (click)="scrollToElement(bigpart5)">
		<div class="container left" [ngClass]="(!isScrolled6 && isScrolled5) ? 'selected' : 'not-selected'">
			<p class="menu-section-title">Design</p>
		</div>
	</a>
	<a (click)="scrollToElement(bigpart6)">
		<div class="container left" [ngClass]="(isScrolled6) ? 'selected' : 'not-selected'">
			<p class="menu-section-title">Testing & Iterations</p>
		</div>
	</a>

</div>


<div class="itale-page page">
	<div class="row banner justify-content-around">
		<div class="titles col-lg-4 col-sm-4">
			<p class="banner-title">
				Light Up Dunhuang
			</p>
			<p class="banner-subtitle margin-20">
				Experimenting the crossover between charity and e-commerce: engaging the young public to donate for traditional cultural heritage preservation.
			</p>
			<div class="attributes">
				<div class="row attribute1">
					<div class="col-lg-6 col-6">
						<div class="attribute-title"><b>Duration</b></div>
						<!--<fa name="calendar"></fa>-->
						<div class="attribute-content">Jun ~ Aug 2019 (5 weeks)</div>
						<div class="attribute-content">UX Design Summer Intern @ Tencent</div>
					</div>
					<div class="col-lg-6 col-6">
						<div class="attribute-title"><b>Stakeholders</b></div>
						<!--<fa name="user"></fa>-->
						<div class="attribute-content">Dunhuang Academy (NGO),</div>
						<div class="attribute-content">Tencent Corporate Marketing Department,</div>
						<div class="attribute-content">Tencent Charity</div>
					</div>
				</div>
				<div class="row attribute2">
					<div class="col-lg-6 col-6">
						<div class="attribute-title"><b>Core Team</b></div>
						<!--<fa name="cog" animation="spin"></fa>-->
						<div class="attribute-content">1 UX Designer</div>
						<div class="attribute-content">1 UI Designer</div>
						<div class="attribute-content">1 Design Manager</div>
						<div class="attribute-content">1 Engineer</div>
					</div>
					<div class="col-lg-6 col-6">
						<div class="attribute-title"><b>Contributions</b></div>
						<!--<fa name="cog" animation="spin"></fa>-->
						<div class="attribute-content">UX Design</div>
						<div class="attribute-content">Prototyping</div>
						<div class="attribute-content">Mobile Design</div>
						<div class="attribute-content">E-Charity / E-Commerce Design</div>
					</div>
				</div>
			</div>

		</div>
		<div class="col-lg-6 col-sm-6">
			<img class="part-img" src="assets/img/dh-cover.png">
		</div>
	</div>

	<div class="content-wrapper margin-100" #wrapper>
		<div class="big-part big-part-1" id="big-part-1" #bigpart1>
			<div class="big-part-inner">
				<div class="big-part-head">
					<p class="big-part-title"> Overview </p>
				</div>
				<div class="large-font-content">
					<div class="section">
						
						<p> Tencent, as a large Internet company, has been in a long-term collaboration with Dunhuang Academy, one of the major cultural heritage preservation organizations in China. The overall intention of this collaboration was to enhance the young public's awareness towards <b>cultural heritage preservation</b>, yet, <b>past projects did not perform well at fundraising</b>. </p>

						<p class="margin-50"> Our team at Tencent CDC (an internal design agency) thus hoped to experiment with something different, to bring donors closer to Dunhuang...</p>

						<img class="part-img margin-100" src="assets/img/dh-problem-overview.png">

						<p class="sub-big-title"><b>Key design objectives</b></p>
						<div class="row normal-text">
							
							<div class="col-sm-4">
								<p><b>Promote Donation</b></p>
							</div>
							<div class="col-sm-4">
								<p><b>Digitalize concepts in traditional arts and culture</b></p>
							</div>
							<div class="col-sm-4">
								<p><b>Fuse e-charity with e-commerce</b></p>
							</div>
						</div>

						<div class="row normal-text">
							<div class="col-sm-4">
								<p>Understand donors' motivations and reasons why they don't donate for cultural heritage preservation.</p>
							</div>

							<div class="col-sm-4">
								<p>Explore ways charity can be presented digitally in the context of traditional culture given all uniqueness. </p>
							</div>

							<div class="col-sm-4">
								<p>Explore ways charity can utilize e-commerce design tactics. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="big-part big-part-2" id="big-part-2" #bigpart2>
			<div class="big-part-inner">
				<div class="big-part-head">
					<p class="big-part-title"> Design Outcomes </p>
				</div>
				<div class="large-font-content margin-75">
					<p> We designed Lightup Dunhuang, enabling users to <b>virtually light up a unique piece</b> of wall painting in Dunhuang cave temples <b>upon each donation</b>, through a <b>spatial storytelling</b> experience that created a strong sense of <b>engagement</b>. </p>
				</div>
				<img class="part-img" src="assets/img/dh-storyline.png">
				<div class="row margin-20 no-lr-margin">
					<div class="col-lg-3 no-padding">
						<div class= "center-align stage-btn" [ngClass]="{'selected-stage-btn' : isSelected1}" (click)="selectStage(1)">
							<span class="align-middle">
								1. Enter spatial narrative
							</span>
						</div>
					</div>
					<div class="col-lg-3 no-padding">
						<div class="center-align stage-btn" [ngClass]="{'selected-stage-btn' : isSelected2}" (click)="selectStage(2)">
							<span class="align-middle">
								2. Explore
							</span>
						</div>
					</div>
					<div class="col-lg-3 no-padding">
						<div class="center-align stage-btn" [ngClass]="{'selected-stage-btn' : isSelected3}" (click)="selectStage(3)">
							<span class="align-middle">
								3. Donate and get a candle 
							</span>
						</div>
					</div>
					<div class="col-lg-3 no-padding">
						<div class="center-align stage-btn" [ngClass]="{'selected-stage-btn' : isSelected4}" (click)="selectStage(4)">
							<span class="align-middle">
								4. Light up and share
							</span>
						</div>
					</div>
				</div>

				<div class="mid-font-content">
					<div class="row demo-section" *ngIf="isSelected1">
						<div class="col-lg-4 col-sm-4 demo-frame">
							<img src="assets/img/iphone8-silver.png" class="demo-iphone-bg">
							<img src="assets/img/dh-flow-start.gif" class="demo-animation">
						</div>
						<div class="col-lg-1 col-sm-1"></div>
						<div class="col-lg-6 col-sm-6 demo-intro">
							<p class="demo-title"><b>1. Enter the panoramic cave space, and follow the narrative that brings you back to a thousand years ago.</b></p> 
							<p class="demo-rationale-tag">Rationales</p>
							<p class="demo-rationale">Connecting people with the space keep users engaged with the cultural heritage site. Also, the construction of narrative helps to guide users through the journey and provides a sense of ritual. </p>
						</div>
					</div>

					<div class="row demo-section" *ngIf="isSelected2">
						<div class="col-lg-4 col-sm-4 demo-frame">
							<img src="assets/img/iphone8-silver.png" class="demo-iphone-bg">
							<img src="assets/img/dh-flow-view.gif" class="demo-animation">
						</div>
						<div class="col-lg-1 col-sm-1"></div>
						<div class="col-lg-6 col-sm-6 demo-intro">
							<p class="demo-title"><b>2. Explore the cave space, the wallpaintings, the pieces that have been lighted up by others.</b></p> 
							<p class="demo-rationale-tag">Rationales</p>
							<p class="demo-rationale">Exploration is what lies between entry and donation, and it's the key in guiding new users to donate. Having the sense of community and better encourage users to join and be the next one to donate. The ritual atmosphere and the cave space both evoke respect for the cultural heritage, and guide users to better appreciate it. </p>
						</div>
					</div>

					<div class="row demo-section" *ngIf="isSelected3">
						<div class="col-lg-4 col-sm-4 demo-frame">
							<img src="assets/img/iphone8-silver.png" class="demo-iphone-bg">
							<img src="assets/img/dh-flow-donation.gif" class="demo-animation">
						</div>
						<div class="col-lg-1 col-sm-1"></div>
						<div class="col-lg-6 col-sm-6 demo-intro">
							<p class="demo-title"><b>3. As the guardian of the cave, donate different amount of money to light up a piece of wallpainting of different sizes.</b></p> 
							<p class="demo-rationale-tag">Rationales</p>
							<p class="demo-rationale">Donation is kept simple, clear, yet engaging to facilitate faster decision. Users get a good sense of what they will be getting in return of donation, but don't over-focus on the final result. </p>
						</div>
					</div>

					<div class="row demo-section" *ngIf="isSelected4">
						<div class="col-lg-4 col-sm-4 demo-frame">
							<img src="assets/img/iphone8-silver.png" class="demo-iphone-bg">
							<img src="assets/img/dh-flow-share.gif" class="demo-animation">
						</div>
						<div class="col-lg-1 col-sm-1"></div>
						<div class="col-lg-6 col-sm-6 demo-intro">
							<p class="demo-title"><b>4. Upon donation, the candle flies to the wall and light up the wallpainting. A certificate and a personalized report will be generated for sharing.</b></p>
							<p class="demo-rationale-tag">Rationales</p>
							<p class="demo-rationale">The process of lighting up wallpainting makes the experience consistent and complete. The rewards provide multiple ways for users to draw personal connection with the piece of wallpainting he/she lights up, making the experience satisfying that he/she would like to share. </p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="big-part">
			<div class="big-part-inner">
				<div class="big-part-head">
					<p class="big-part-title"> Process </p>
				</div>
				<div class="mid-font-content">
					<p>This project was an experimental project at an early stage. As the main UX designer, I worked on UX/interaction design of this product and frequently received feedback from a design manager for rapid design iterations.</p>
					<p>My major <mark>contributions</mark> include: synthesized research data, held brainstorming sessions with stakeholders, and created medium-fidelity prototypes for testing. Later in the project, I also collaborated with a visual designer and a front-end developer.</p>

					<img class="part-img" src="assets/img/dh-process.png">
				</div>
			</div>
		</div>


		<div class="big-part big-part-3 padding-b-0" id="big-part-3" #bigpart3>
			<div class="big-part-inner">
				<div class="big-part-head">
					<p class="big-part-title"> Research </p>
				</div>
				<div class="mid-font-content">

					<div class="row sub-text padding-50">
						<div class="col-lg-3">
							<img class="img-30 margin-15" src="assets/img/dh-research-user.png">
							<p class="sub-text-title center-align"><b>User Interview</b></p>
							<p>I interviewed 6 potential users, to understand their attitudes on cultural heritage and charity.</p>	
						</div>
						<div class="col-lg-3">
							<img class="img-30 margin-15" src="assets/img/dh-research-report.png">
							<p class="sub-text-title center-align"><b>Past Research Report</b></p>
							<p>I synthesized key insights from Tencent Charity User Report and Millennials User Report.</p>
						</div>
						<div class="col-lg-3">
							<img class="img-30 margin-15" src="assets/img/dh-research-stakeholder.png">
							<p class="sub-text-title center-align"><b>Stakeholder Interview</b></p>
							<p>I talked to both internal stakeholders and external stakeholders to clarify project scope.</p>
						</div>
						<div class="col-lg-3">
							<img class="img-30 margin-15" src="assets/img/dh-research-product.png">
							<p class="sub-text-title center-align"><b>Relevant Product Review</b></p>
							<p>I examined past Dunhuang charity products and other creative charity products in the market.</p>
						</div>
					</div>

					<div class="row sub-text" *ngIf="isExpanded">
						<div class="col-lg-3">
							<p class="margin-0"> - What are attractive to you about Dunhuang, or cultural heritage in general? </p>
							<p> - Do you donate for cultural heritage preservation? Why? </p>
						</div>

						<div class="col-lg-3">
							<p class="margin-0"> - User segmentation in online charity; </p>
							<p> - General behaviors and preferences of millennials users on social media platform </p>
						</div>

						<div class="col-lg-3">
							<p class="margin-0"> - What are the scope and goals of this project? </p>
							<p> - How can this project fit into the long-term organizational-level collaboration? </p>
						</div>

						<div class="col-lg-3">
							<p class="margin-0"> - What worked and didn't work for past products? </p>
							<p> - What are some inspirations on how to make the charity product creative? </p>
						</div>
					</div>

					<div class="margin-150">
						<a role="button" (click)="expand()" class="btn btn-outline-theme float-right" *ngIf="!isExpanded">See more details</a>
						<a role="button" (click)="expand()" class="btn btn-outline-theme float-right" *ngIf="isExpanded">See less details</a>
					</div>

					<p class="sub-title"><b> Challenge 1 - Understanding donors </b></p>
					<p class="sub-big-title margin-50"> Who are the target users? Why do or don't they donate? How to motivate them? </p>
					<div class="margin-50">
						<div class="margin-50">
							<p class="margin-50">To have a clearer picture who we're designing for throughout the project, I synthesized data that I gathered about potential users, discussed with the senior designer on the best target groups, and summarized them in persona.</p>

							<div class="margin-50">
								<p><b>Persona: The 2 types of potential donors</b></p>
								<img class="part-img image-shadow" src="assets/img/dh-persona.png">
							</div>

							<div class="margin-100">
								<p><b>Insight: The lack of connection leads to the lack of motivation to donate</b></p>
								<div class="row">
									<div class="col-lg-4">
										<img class="img-50" src="assets/img/dh-reason-1.png">
									</div>
									<div class="col-lg-4">
										<img class="img-50" src="assets/img/dh-reason-2.png">
									</div>
									<div class="col-lg-4">
										<img class="img-50" src="assets/img/dh-reason-3.png">
									</div>
								</div>

								<div class="row">
									<div class="col-lg-4">
										<div class="filled-block center-align padding-all-10 margin-20">
											<p class="margin-half-rm"><b>Relatability</b></p>
											<p class="sub-text margin-all-0">"It doesn't matter to me"</p>
										</div>
										<p class="sub-text">This mainly happens to casual audience who haven't visited Dunhuang. Cultural heritage is by nature historically & geologically far away, involving large and serious topics that are hard to relate to.</p>
									</div>

									<div class="col-lg-4">
										<div class="filled-block center-align padding-all-10 margin-20">
											<p class="margin-half-rm"><b>Contribution</b></p>
											<p class="sub-text margin-all-0">"I don't matter to it"</p>
										</div>
										<p class="sub-text">Unlike charity that helps real individuals out, it is unclear how one’s donation is going to make an impact to such a vague and large project, and the sense of contribution is thus low.</p>
									</div>

									<div class="col-lg-4">
										<div class="filled-block center-align padding-all-10 margin-20">
											<p class="margin-half-rm"><b>Perceived Rewards</b></p>
											<p class="sub-text margin-all-0">"I'll be happier if I get something"</p>
										</div>
										<p class="sub-text">Traditional charity works one-way: it relies on donors giving away things selflessly. However, donors’ motivation increases significantly when certain degree of rewards are provided.</p>
									</div>
								</div>
							</div>
							
						</div>
					</div>


					<p class="sub-title"><b> Challenge 2 - Past Product Review </b></p>
					<p class="sub-big-title"> What made existing charity products failed or successful? </p>
					<div>
						<div class="margin-50">
							<p> We examined several existing online charity products in the market to learn about the general pattern, features that work well or not well under different context and topics. </p>

							<p class="margin-50">The analysis mainly focused on examining solutions for building donor’s motivation based on the previous 3 dimensions: Relatability, contribution, and rewards. For projects that have data available, we also looked at the rough data (e.g. number of sharing, donation, etc.).</p>

							<div class="margin-75">
								<img class="img-70 margin-20" src="assets/img/dh-competitive-overview.png">
								<p class="note-paragraph">Some e-charity products that we reviewed</p>
							</div>

							<p class="sub-title margin-15"> We learned that: </p>

							<div class="row">
								<div class="col-lg-6">
									<p><b>✖️ Overemphasis on atmosphere building</b></p>
									<p class="margin-50">Many products we reviewed focused too much on building atmosphere through storytelling. It's good for raising awareness, but the call for donation could be easily ignored by users. </p>
									<img class="part-img" src="assets/img/dh-competitive-relatability.png">
									
								</div>

								<div class="col-lg-6">
									<p><b>✔️ Introduction of real-world values and connection</b></p>
									<p>The sense of engagement in charity could be drastically enhanced through personalized rewards and real world impact.</p>
									<img class="part-img" src="assets/img/dh-competitive-contribution.png">
									<p class="note-paragraph"> A popular environmental protection charity app planted a tree in real world when users planted a virtual one </p>
									
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="decision-section">
			<p class="sub-mid-title"><b> DESIGN DECISION #1 was made: </b></p>
			<p class="sub-big-title margin-50"> Draw donors closer by giving them back something meaningful that connects them with real-world cultural heritage. </p>
			<img class="img-20 margin-20" src="assets/img/dh-decision-1.png">
		</div>

		<div class="big-part big-part-4 padding-b-0" id="big-part-4" #bigpart4>
			<div class="big-part-inner">
				<div class="big-part-head">
					<p><b>How did we continue along that line?</b></p>
					<p>⬇</p>
					<p class="big-part-title"> Ideate </p>
				</div>
				<div class="mid-font-content">
					<div class="row margin-75">
						<div class="col-lg-8">
							<img class="part-img margin-75" src="assets/img/dh-brainstorm.png">
						</div>
						<div class="col-lg-4">
							<p>
								We held <b>brainstorming sessions</b> both <b>internally</b> (with fellow UX/UI designers, brand designers, and PMs) and <b>externally</b> (with Dunhuang Academy) following the design direction and goals. 
							</p>
							<p>
								We grouped ideas, analyzed patterns, and assessed them based on stakeholders' needs.
							</p>
						</div>
					</div>

					<p class="sub-title"><b> Challenge - Diverging and Converging  </b></p>
					<p class="sub-big-title margin-50"> How to find the right thing to connect with donors in the right form? </p>

					<div class="row">
						<div class="col-lg-6">
							<p><b>Brainstorm: Right Connection</b></p>
							<p class="margin-20">I researched Dunhuang arts and architecture and brainstormed a list of its <mark>sub-elements</mark> along with possible ways that the audience may <mark>connect</mark> with them.  </p>
							<img class="part-img" src="assets/img/dh-concept-all.png">
							
						</div>

						<div class="col-lg-6">
							<p><b>Feedback from Stakeholder: Right Form</b></p>
							<p class="margin-20"> In order to find the right form/metaphor to present the idea, we had to fulfill Dunhuang Academy's needs: to <mark>respect the artwork</mark> and make it less religious, and users' needs: to be <mark>easy to understand and relate to</mark>.</p>
							<img class="part-img" src="assets/img/dh-concept-v0.png">

						</div>

					</div>

					<div class="row margin-50">
						<div class="col-lg-6">
							<p class="note-paragraph"> Among all combinations, individuals collecting painting fragments is the one that establishes the strongest personal bond. </p>
						</div>

						<div class="col-lg-6">
							<p class="note-paragraph"> One of our ideas turned down by Dunhuang Academy because it didn't show respect: it explicitly conveyed the idea of cutting through artwork and bringing a piece home. </p>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="decision-section">
			<p class="sub-mid-title"><b> DESIGN DECISION #2 was made: </b></p>
			<p class="sub-big-title margin-50"> We decided to proceed with the candle lighting idea <span class="sub-big-sub-title">(upon every donation, a piece of Dunhuang artwork will be lighted up)</span> and developed tactics around it: </p>
			<img class="img-50 margin-20" src="assets/img/dh-ideation-result.png">
		</div>

		<div class="big-part big-part-5" id="big-part-5" #bigpart5>
			<div class="big-part-inner">
				<div class="big-part-head">
					<p><b>How did we bring the idea to life?</b></p>
					<p>⬇</p>
					<p class="big-part-title"> Design </p>
					<!--<p class="big-part-sub-title"> How did we come here </p>-->
				</div>
				<div class="mid-font-content">

					<div>
						<p class="sub-title"><b> Set the product tone </b></p>
						<p class="sub-big-title"> <b> Define Design Keywords </b> </p>

						<div class="margin-100">
							<p class="margin-50">To further develop the concept of lighting up Dunhuang, we analyze the features and strength of it, taking the design goals into consideration, and set the following design keywords to follow:</p>
							
							<img src="assets/img/dh-keywords.png" class="img-70">
							<!--<p class="note-paragraph"> How musicians and listeners value feedback </p> -->
						</div>
					</div>


					<div class="margin-100">
						<p class="sub-title"><b> Connect narrative, user goals, emotion, and product features  </b></p>
						<p class="sub-big-title"> <b> Map out Journey </b> </p>

						<div class="margin-50">
							<p class="margin-50">We mapped out the experience blueprint, from the starting touchpoint to sharing upon completion of donation. We paid attention to the user goals and emotion for each stage, in order to plan features and tasks to achieve both user goals and product goals, and to create a smoother and more complete experience.</p>
							
							<img src="assets/img/dh-journey.png" class="part-img">
							<!--<p class="note-paragraph"> How musicians and listeners value feedback </p> -->
						</div>
						<p>Below are some key design decisions we made along with rationales behind when designing the 3 key stages: <mark>pre-donation, donation, and post-donation</mark>.</p>
					</div>
					

					<div>
						<div class="section">
							<p class="sub-title"> <b> Pre-Donation </b> </p>
							<p class="sub-big-title margin-50"> <b> How to effectively build tension and atmosphere? </b> </p>

							<p><b>1. Construct concise yet engaging introduction</b></p>
							<p>To increase the sense of engagement, it's important to design an emmersive opening experience with the use of storytelling. However, as we learned from previous products, it can't be long, or else users can be easily distracted and bored. We thus strived to <mark>make every screen count</mark>:</p>
							<img src="assets/img/dh-decision-1-1.png" class="part-img margin-50">
							<div class="row">
								<div class="col-lg-6">
									<p><b>2. Build up the sense of engagement and urgency</b></p>
									<p>To increase the sense of engagement, we wanted to make users feel they're <mark>part of something large</mark>. Also, creating the sense of urgency builds the tension. </p>									
								</div>	
								<div class="col-lg-6">
									<p><b>3. Reduce interference in the main flow</b></p>
									<p>To promote donation, we purposefully kept the overall flow short and focused. Viewing pieces lighted up by others builds users' motivation to donate, but users may also get easily interrupted from it.</p>	
								</div>	
							</div>	

							<div class="row">
								<div class="col-lg-6">
									<img src="assets/img/dh-decision-1-2.png" class="img-70 margin-50">
								</div>
								<div class="col-lg-6">
									<img src="assets/img/dh-decision-1-3.png" class="part-img margin-50">
								</div>
							</div>	
						</div>

						<div class="section">
							<p class="sub-title"> <b> Donation </b> </p>
							<p class="sub-big-title"> <b> How to help users make up their minds on the spot of donation?  </b> </p>
							<p class="margin-50">Donation is the stage where users have to pause and think about carefully, as they are asked to pay real money. However, the situation is trickier than traditional e-commerce: </p>
							<p><b>1. Visualize the reward of payment, yet not to make it too result-oriented</b></p>
							<p>To encourage payment, we needed to give users some sense of what they're getting after the payment, but we can't put too much weight on the final reward:</p>
							<img src="assets/img/dh-decision-2-1.png" class="part-img margin-50">

							<p><b>2. Facilitate fast decision by reducing choices</b></p>
							<p>From the past data of Tencent Charity, providing too many options with insignificant differences may cause decidophobia, which will lower users’ willingess to make the payment. Thus, we want to get rid of unnecessary distraction:</p>
							<img src="assets/img/dh-decision-2-2.png" class="img-50 margin-50">
						</div>

						<div class="section">
							<p class="sub-title"> <b> Post-Donation </b> </p>
							<p class="sub-big-title"> <b> How to encourage users to share? </b> </p>

							<p><b>1. Design Goals and Experience Division</b></p>
							<p>We divided the post-donation experience into 3 levels: <mark>completion, acknowledgement, and sharing</mark>. Through the progressive experience, users are satisfied on different levels, from forming an impressive donation experience to actually want to share what they get to their friends.</p>
							<img src="assets/img/dh-after-overview.png" class="img-70 margin-50">

							<p><b>2. Sharing and Social Currency</b></p>
							<p>When designing the sharable content, we thought about what will trigger users to share, and therefore we looked at the model of personal <mark>social currency</mark>. Considering features of the young population that we are serving, they are people who love showcasing their personality and identity when sharing things on social media, and they love talking about and comparing unique personalized results with friends. Therefore, we mainly focused on <mark>identity, conversation and valuable information</mark> when designing the values of the sharable content.</p>
							<img src="assets/img/dh-social-currency.png" class="img-70">
						</div>

					</div>

				</div>
			</div>
		</div>


		<div class="big-part">
			<div class="big-part-inner">
				<div class="big-part-head">
					<p class="big-part-title"> Results </p>
					<!--<p class="big-part-sub-title"> forms of feedback </p>-->
				</div>
				<div class="mid-font-content">
					<img src="assets/img/dh-all-screens.png" class="part-img">
				</div>
			</div>
		</div>


		<div class="big-part big-part-6" id="big-part-6" #bigpart6>
			<div class="big-part-inner">
				<div class="big-part-head">
					<p class="big-part-title"> Testing & Iterations </p>
					<!--<p class="big-part-sub-title"> How did we come here </p>-->
				</div>
				<div class="mid-font-content">
					<p class="sub-big-title"><b>Talking to users</b></p>
					<p>Due to the confidentiality of this project, I was not allowed to show the idea to people outside of the organization, so I present the design to some colleagues that could be potential users, and here was some quotes I collected:</p>
					<img src="assets/img/dh-feedback.png" class="part-img margin-20">

					<p class="sub-title margin-15"> We learned that: </p>
					<div class="row margin-100">
						<div class="col-lg-6">
							<p><b>Is it worthy to donate?</b></p>
							<p>Most participants found the idea intriguing and claimed to be more willing to donate. However, many were still very cautious with the actual payment and needed time to figure out if it's really worthy, particularly for users that are not super fans of traditional culture. </p>
						</div>
						<div class="col-lg-6">
							<p><b>Offline trip and souvenir</b></p>
							<p>Participants' willingness to donate significantly increase if they were to be shown this app during their trip to Dunhuang, and this opened new possibility of offline collaboration with Dunhuang.</p>
						</div>
					</div>

					<p class="sub-big-title"><b>Talking to developers and visual designers</b></p>
					<p class="margin-100">As the interaction designer, I needed to communicate with visual designers and front-end developers to carry the project forward. The most important thing we discussed was the <mark>animation and atmosphere building</mark>. We discussed <mark>technical constraints</mark> (e.g. how to locate a piece of painting, how many pieces are there in a cave, etc.), as well as the ideal <mark>artstyle and user experience</mark>. </p>

					<p class="sub-big-title"><b>Talking to stakeholders</b></p>
					<p class="margin-50">During the project, I <mark>presented the prototype</mark> to people in charge of Tencent-Dunhuang collaboration, <mark>from both Tencent and Dunhuang Academy</mark>. The feedback I got was mostly positive, and they would like to see <mark>more directions</mark> before making a decision, so I continued exploring other ideas to keep the conversation going. Here are some other ideas we worked on afterwards:</p>
					<div class="row margin-5 justify-content-center">
						<div class="col-lg-3">
							<img src="assets/img/dh-further-1.png" class="part-img">
						</div>
						<div class="col-lg-1">
						</div>
						<div class="col-lg-3">
							<img src="assets/img/dh-further-2.png" class="part-img">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="big-part">
			<div class="big-part-inner">
				<div class="big-part-head">
					<p class="big-part-title"> Success Metrics </p>
					<!--<p class="big-part-sub-title"> How did we come here </p>-->
				</div>
				<div>
					<div class="row justify-content-center center-align">
						<div class="col-lg-4">
							<p class="large-font-content"><b>Donation</b></p>
							<p>Amount of donation</p>
							<p>Number of donors</p>
						</div>
						<div class="col-lg-4">
							<p class="large-font-content"><b>Interaction</b></p>
							<p>CTR (click through rate)</p>
							<p>Complete rate</p>
							<p>Share rate</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="big-part">
			<div class="big-part-inner">
				<div class="big-part-head">
					<p class="big-part-title"> Reflection </p>
					<!--<p class="big-part-sub-title"> How did we come here </p>-->
				</div>
				<div class="mid-font-content">
					<img src="assets/img/dh-cdc.png" class="part-img margin-5">
					<p class="note-paragraph margin-75"> With all fantastic designers from Tencent CDC </p>
					<ul>
						<li><b>Impress your users quickly:</b> The most special thing about this project is, the touchpoint between users and the product is extremely short, that it's almost like an advertisement to convince customers into making purchase right away. Therefore, although the flow may look short, careful effort was put into the choice and distillation of information and interactions. We strived to utilize the short amount of time to provoke the right emotion and motivation.</li>
						<li><b>Don't make a product for the sake of the product:</b> Particularly in big organizations, designers have to think about the meaning of the product from a larger landscape: What values can this little product bring to the larger project? How may it affect the project/team/company from a long run? What type of image does it create for the company for audience to see?</li>
						<li><b>Not everyone is going to like your design, and that’s totally fine:</b> I was a bit frustrated when I received more feedback saying they probably won’t donate than I expected. I then came to realize that especially for a B2C product, it’s simply impossible to design something that caters to everyone’s taste and need. My mentor told me that phenomenal products were very rare, but if I manage to make 1% more people donate and 5% more people aware of the issue (of cultural heritage preservation), it’s considered a great success!</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div>
		<hr class="page-divider">
		<p class="more-project-title">More Projects</p>
		<div class="row justify-content-center width-85">
			<div class="col-lg-3 col-8 project hid-on-init" animateOnScroll animationName="animated fadeIn">
				<div class="thumb-image square">
					<div class="crop-img">
						<a href="projects/jb">
							<img src="assets/img/projectthumb-06.png">
						</a>
					</div>
				</div>
				<p class="project-categories">
					/SaaS /Web App /UX /UI
				</p>
				<p class="project-title">
					Journey Builder Redesign - Sponsored by Salesforce
				</p>
				<p class="project-description">
					Redesigning the testing feature to boost marketers' confidence
				</p>
			</div>

			<div class="col-lg-3 col-8 project hid-on-init" animateOnScroll animationName="animated fadeIn">
				<div class="thumb-image square">
					<div class="crop-img">
						<a href="projects/itale">
							<img src="assets/img/projectthumb-05.png">
						</a>
					</div>
				</div>
				<p class="project-categories">
					/Education Design /Startup /Product Design 
				</p>
				<p class="project-title">
					iTale - Internship @iTale
				</p>
				<p class="project-description">
					A playground for children to tell creative stories
				</p>
			</div>
			
			<div class="col-lg-3 col-8 project hid-on-init" animateOnScroll animationName="animated fadeIn">
				<div class="thumb-image square">
					<div class="crop-img">
						<a href="projects/involved">
							<img src="assets/img/projectthumb-03.png">
						</a>
					</div>
				</div>
				<p class="project-categories">
					/7-day Design Challenge /UX Design /UX Research /Mobile App Design
				</p>
				<p class="project-title">
					Involved - Google Design Exercise 2019
				</p>
				<p class="project-description">
					Socializing the experience for new students to find the right organizations to engage with
				</p>
			</div>

		</div>
	</div>

	<div class="foot">
		<p class="copyright center-align">Designed and hand-coded by Jing You © 2020 💡</p>
		<div class="row width-40 justify-content-center">
			<div class="col-1">
				<a href="https://www.linkedin.com/in/jing-you-b823b4132/" target="_blank" class="sm-link">
					<fa name="linkedin" class="sm-icon"></fa>
				</a>
			</div>
			<div class="col-1">
				<a href="https://github.com/youjing402/" target="_blank" class="sm-link">
					<fa name="github" class="sm-icon"></fa>
				</a>
			</div>
			<div class="col-1">
				<a href="mailto:youjing402@gmail.com" class="sm-link">
					<fa name="envelope" class="sm-icon"></fa>
				</a>
			</div>
		</div>
	</div>
</div>