@import '../common-project';

$theme-color: #c39126;
$light-color: #fcf2d7;

.banner {
	background: $theme-color;
}

.navbar {
	background-color: $theme-color;
}

.filled-block{
	background: $light-color;
}

.theme-text {
	color: $theme-color !important;
}

.image-shadow {
	box-shadow: 2px 2px 4px #aaa;
}

mark {
	background-color: $light-color;
}

.btn-outline-theme {
	color: $theme-color;
	border-color: $theme-color;
}

.btn-outline-theme:hover {
	background-color: $theme-color;
	color: white;
}

.demo-rationale-tag[_ngcontent-c1] {
	color: $theme-color;
	font-weight: 700;
	font-size: 15px;
	padding-top: 50px;
	margin-bottom: 5px;
}

.stage-btn {
	background-color: #eee;
	//height: 100%;
	//display:table;
	padding-top: 15px;
	padding-bottom: 15px;
	//margin-left: 20px;
	border-bottom: 2px solid $theme-color;
	cursor: pointer;
}

.stage-btn:hover {
	background-color: #ddd;
}

.stage-btn:first-of-type {
	//margin-left: 0px;
}

.vertical-align-placeholder {
	//height: 100%;
}

.selected-stage-btn {
	background-color: $theme-color;
	padding-top: 15px;
	padding-bottom: 15px;
	color: white;
	font-weight: bold;
	border-bottom: 2px solid $theme-color;
	cursor: auto;
}

.selected-stage-btn:hover {
	background-color: $theme-color;
}

.decision-section {
	background-color: $theme-color;
	color: white;
	text-align: center;
	padding: 70px 100px 70px 100px;
}