<div class="stretch-page">
	<div class="row section">
		<div class="titles col-lg-5 col-sm-5">
			<h1>
				Echoes
			</h1>
			<h4>
				A Feeling-Centered Music Experience that Connect Listeners and Artists
			</h4>
		</div>
	</div>
	<div class="row justify-content-center section">
		<div class="col-lg-3 col-sm-3 center-align">
			<div>Time</div>
			<fa name="calendar"></fa>
			<div>Oct ~ Dec 2018</div>
		</div>
		<div class="col-lg-3 col-sm-3 center-align">
			<div>Context</div>
			<fa name="user"></fa>
			<div>CHI 2019 Student Design Competition</div>
		</div>
		<div class="col-lg-3 col-sm-3 center-align">
			<div>Team</div>
			<fa name="cog" animation="spin"></fa>
			<div>Yingxia Lou</div>
			<div>Christine Lu</div>
			<div>Weiyi Meng</div>
		</div>
		<div class="col-lg-3 col-sm-3 center-align">
			<div>Contribution</div>
			<fa name="cog" animation="spin"></fa>
			<div>Participatory Design Workshop</div>
			<div>Observation</div>
			<div>Interview</div>
			<div>Ideation</div>
			<div>Prototyping</div>
		</div>
	</div>

	<div class="row section big-part">
		<div class="col-lg-2 col-sm-2">
			<h4> Where we came from </h4>
		</div>
		<div class="col-lg-10 col-sm-10"> 
			<p> Artists in the music industry are confronted with various problems, both financially and mentally. Their career success and sense of self-accomplishment is often dependent on listeners' support.</p>

			<p> However, the current communication is usually one-way from artists to listeners, with the lack of meaningful feedback coming from listeners.</p>

			<p> How do we tackle with this problem to bridge the gap?</p>
		</div>
	</div>

	<div class="row section big-part">
		<div class="col-lg-2 col-sm-2">
			<h4> Approach </h4>
		</div>
		<div class="col-lg-10 col-sm-10">
			<p> Our main objective is to <b>prevent people from falling into food insecurity</b> by helping them to plan meals and manage food in ways that make a better use of budget and time.</p>
			<p> We came up with, Stretch, a meal planner that features the key concept of "stretching" meals.</p>
			<p> 1. Stretching the food (with expert recipe support). Plan several meals as a whole: for the same kind of food, buy and prepare more at once, and reuse more effectively in future meals. </p>
			<p> 2. Grocery list & Food Management.</p>
			<p> 3. Budget tracking & management.</p>
		</div>
	</div>

	<div class="row section big-part">
		<div class="col-lg-2 col-sm-2">
			<h4> How did we get here? </h4>
		</div>
		<div class="col-lg-10 col-sm-10">
			<p> Process & Timeline & Double Diamond</p>
			<img class="part-img" src="assets/img/stretch-timeline.png">
		</div>
	</div>

	<div class="row section big-part">
		<div class="col-lg-2 col-sm-2">
			<h4> Research </h4>
		</div>
		<div class="col-lg-10 col-sm-10">
			<p> In order to learn about food insecurity and the community trying to combat it, we conducted initial research through: </p>
			<div class="research-icons row justify-content-center section">
				<div class="col-lg-3 col-sm-3 center-align">
					<fa name="book" class="icon1"></fa>
					<div class="icon-title">Literature Review</div>
					<div class="icon-intro">for food insecurity data and relevant programs and organizations</div>
				</div>
				<div class="col-lg-3 col-sm-3 center-align">
					<fa name="comments" class="icon1"></fa>
					<div class="icon-title">Interview</div>
					<div class="icon-intro">with individuals and local organizations</div>
				</div>
				<div class="col-lg-3 col-sm-3 center-align">	
					<fa name="eye" class="icon1"></fa>
					<div class="icon-title">Observation</div>
					<div class="icon-intro">at local organizations and farmers' market events</div>
				</div>
				<div class="col-lg-3 col-sm-3 center-align">
					<fa name="pencil" class="icon1"></fa>
					<div class="icon-title">Contextual Inquiry</div>
					<div class="icon-intro">with nutrion expert</div>
				</div>
			</div>

			<div class="section">
				<p class="sub-title"> <b> Budget, Time, and Life Uncertainty </b> </p>
				<p class="sub-big-title"> Understanding Food Insecurity as a Temporary State </p>
				<p> We had the assumption that people confronting food insecurity are living in extreme poverty. But this is NOT the case according to our field research: People going for cheap or even free food are just normal people who work hard to feed themselves and their family.  </p>
				<p>Food insecurity is not as simple as 0 and 1; due to life uncertainties, it can be something temporary to various extents. </p>
				<div class="section">
					<img src="assets/img/stretch-causes.png" class="img-70">
				</div>
				<p>Often, as a result of life uncertainties, <b>budget and time</b> becomes challenging, and planning for meal preparation to stay food secure becomes crucial yet harder. This led us to the question that: </p>
				<div class="quote"> 
					<p class="sentence"> "When it comes to meal preparation under budget and time constraints, how can we help individuals become more proactive and resilient to potential risks of food insecurity?"
					</p>
				</div>
			</div>

			<div class="section">
				<!--<p class="sub-title"> #1 Individuals in need </p> -->
				<p class="sub-title"> <b> Learning People's Problems </b> </p>
				<p class="sub-big-title"> <b> Understanding How People Prepare Meals & Manage Food </b> </p>
				<div class="section">
					<p> To learn about what are the problems people have in meal preparation that can be potentially improved for better budget and time usage, we interviewed 20 people about their eating habits, meal preparation, and food management process. </p>
				</div>

				<div class="row">
					<div class="col-lg-6 col-sm-6">
						<img src="assets/img/stretch-experience-map.png" class="part-img">
					</div>
					<div class="col-lg-6 col-sm-6">
						<p class="method-title"> Experience Map </p>
						<p class="method-content"> From the reseach, we mapped out people's journey of meal preparation in different stages: from planning, shopping, preparing, to consuming. We synthesized and analyzed their experience, problems, and opportunities for improvement. </p>
					</div>
				</div>

				<div class="section">
					
				</div>

				<p class="sub-title"> <b> Oppotunities for Improvement </b> </p>
				<p class="sub-big-title"> <b> Key Insights </b> </p>

				<div class="section">
					<p> People want to make the best use of their budget and time, but they are not because they don't have the awareness and skills to view and plan holistically. </p>
					<p> They are faced with different problems at different stages of meal preparation. We identified the following common problems that may <b>hinder them from making the best use of their resources (i.e. budget, time, food)</b>: </p>
				</div>

				<div class="section">

					<div class="row section justify-content-around">
						<div class="col-lg-2 col-sm-2">
							<img src="assets/img/stretch-insight-plan.png" class="part-img">
						</div>
						<div class="col-lg-8 col-sm-8">
							<p class="insight-title"><b>People generally <b class="color-emphasis">lack</b> the time, skills, and awareness to <b class="color-emphasis">plan meals ahead</b>, and are unsure of what comes next.</b> </p>
							<p>Many people do not have the habit of planning grocery list, ingredients, and individual meals. They do see the value of planning, but they find it <b>tedious and do not worth the time and energy</b>. Without a plan, they are over-spending the budget and time, and they do not have a clear picture of what is coming.</p>
						</div>
					</div>
					<div class="row section justify-content-around">
						<div class="col-lg-2 col-sm-2">
							<img src="assets/img/stretch-insight-food.png" class="part-img">
						</div>
						<div class="col-lg-8 col-sm-8">
							<p class="insight-title"><b>People have <b class="color-emphasis">limited</b> knowledge about <b class="color-emphasis">efficient usages of ingredients</b> across meals.</b> </p>
							<p>People are used to choosing from a limited range of ingredients they are familiar with. Also, many would not consider the various usages of ingredients, despite that it can be helpful when planning efficient food use across different meals. </p>
						</div>
					</div>

					<div class="row section justify-content-around">
						<div class="col-lg-2 col-sm-2">
							<img src="assets/img/stretch-insight-meal.png" class="part-img">
						</div>
						<div class="col-lg-8 col-sm-8">
							<p class="insight-title"><b>People are used to <b class="color-emphasis">cooking just enough</b>, yet they complain about <b class="color-emphasis">making meals from scratch</b>. </b> </p>
							<p>Making every meal from scratch is time consuming and energy consuming. Sometimes people would just eat processed food for convenience. However, despite such complaint, people generally do not cook more than needed, mainly due to lack of awareness.</p>
						</div>
					</div>

					<!--
						<p> Therefore, we were looking for opportunities to <b>help people with food budget to plan and make their meals more easily in the way that makes a better use out of limited resources</b> (i.e. budget, time, and food ingredients). </p> -->

					</div>
				</div>
			</div>
		</div>

		<div class="row section big-part">
			<div class="col-lg-2 col-sm-2">
				<h4> Inspiration </h4>
			</div>
			<div class="col-lg-10 col-sm-10 section">
				<p class="sub-title"> <b> Learning from Experts </b> </p>
				<p class="sub-big-title"> Successful Individuals and Organizations Deal with Food </p>

				<p class="section"> To further learn about professional skills of meal planning and food management that could benefit people, we looked into organizations and a fitness trainer who are experts at food management and meal preparation, to see what <b>practices and strategies</b> help them make efficient use of resources. </p>

				<div class="row section">
					<div class="col-lg-6 col-sm-6">
						<img src="assets/img/stretch-expert-affinity.png" class="part-img">
					</div>
					<div class="col-lg-6 col-sm-6">
						<p class="method-title"> Affinity Diagram </p>
						<p class="method-content"> We used affinity diagram to organized and synthesized findings we gathered from research with experts and organizations. Through analyzing and summarizing the categories, we learnt about their effective food practices. </p>
					</div>
				</div>

				<div class="row section">
					<div class="col-lg-6 col-sm-6">
						<img src="assets/img/stretch-expert-story.png" class="part-img">
					</div>
					<div class="col-lg-6 col-sm-6">
						<p class="method-title"> Story Mapping </p>
						<p class="method-content"> We mapped out the flow that experts manage food, plan meals, and prepare meals. In that, we considered alternative scenarios in different stages and compare with average people's story to find design opportunities. </p>
					</div>
				</div>

				<div class="section">
					<p class="sub-title"> <b> Oppotunities for Application </b> </p>
					<p class="sub-big-title"> <b> Key Inspirations </b> </p>
					<div class="row">
						<div class="col-lg-6 col-sm-6 interview-photos">
							<p class="insight-title-medium"><b>Plan and do with a <b class="color-emphasis">big picture</b> in mind</b></p>
							<div class="insight-content-medium">
								<p> They planned in advance, and for many meals across days at once. Keeping the big picture allowed them to plan the most suitable recipes, adjust ingredients in different meals, reuse for better utilization, and allocate time and energy.</p>
								<p> When actually making meals, they often prepared more than needed: to save time for future meals, and to avoid accidents. </p>	
							</div>
						</div>
						<div class="col-lg-6 col-sm-6 interview-photos">
							<p class="insight-title-medium"><b>Maintain food <b class="color-emphasis">organization</b></b></p>
							<div class="insight-content-medium">
								<p> Keeping food in good organization allowed them to track food freshness and quantity, which greatly helped them with food usage planning: the right ingredients with right quantity to be consumed on the right day.</p>
								<p> Not only raw ingredients, leftovers were also a big part in food management for efficient reuse.</p>
							</div>
						</div>
					</div>
					<div class="section row">
						<div class="col-lg-6 col-sm-6 center-align">	
							<img class="photo-img" src="assets/img/stretch-photo-cooking-2.png">
							<p class="note-paragraph"> Fitness trainer Janet demonstrating how she planned meals for the week</p>
						</div>
						<div class="col-lg-6 col-sm-6 center-align">
							<img class="photo-img" src="assets/img/stretch-photo-storage-1.png">
							<p class="note-paragraph"> Food in good organization at Community Kitchen and Crimson Cupboard food pantry</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row section big-part">
			<div class="col-lg-2 col-sm-2">
				<h4> Ideation </h4>
			</div>
			<div class="col-lg-10 col-sm-10">

				<div class="row section">
					<div class="col-lg-6 col-sm-6">
						<img src="assets/img/stretch-ideation.jpg" class="part-img">
					</div>
					<div class="col-lg-6 col-sm-6">
						<p class="method-title"> What-If Scenarios </p>
						<p class="method-content"> Based on what we learned about people's pain points in meal preparation and management, we jumped out of data and brainstormed multiple concepts from coming up with what-if scenarios. </p>
					</div>
				</div>

				<div class="row section">
					<div class="col-lg-6 col-sm-6">
						<img src="assets/img/stretch-differential.png" class="part-img">
					</div>
					<div class="col-lg-6 col-sm-6">
						<p class="method-title"> Semantic Differential </p>
						<p class="method-content"> We grouped concepts into 3 clusters, discussed the pros and cons by considering previous what-if scenarios, and performed semantic differential to analyze their feasibility and level of impact. </p>
					</div>
				</div>

				<p>
					Through assessing the feasibility and impact of different concepts, we chose two of the most promising ones and saw the potential of combining them together:
				</p>

				<div class="scenario-section">
					<div class="width-45">
						<img src="assets/img/stretch-scenario-1.png" class="part-img">
					</div>
					<div class="width-5">
						<div class="vertical-align">
							<p><b>+</b></p>
						</div>
					</div>
					<div class="width-45">
						<img src="assets/img/stretch-scenario-2.png" class="part-img">
					</div>
				</div>

				<div class="section scenario-section">
					<div class="width-45">
						<p class="note-paragraph"><b>(1) Personal Meal Planner:</b><br>Make a better use of money by planning meals throughout the week based on one's food budget. </p>
					</div>
					<div class="width-5">
						<p></p>
					</div>
					<div class="width-45">
						<p class="note-paragraph"><b>(2) Stretch One's Food:</b><br>Make a better use of food and time by cooking more at once and utilize the extra portion to prepare the next meal(s). </p>
					</div>			
				</div>
				<div>
					By merging the two concepts, we wanted to design a meal planner that teaches people how to plan their meals ahead and resuse food smartly in the way that make a better use of their resources.
				</div>
			</div>
		</div>

		<div class="row section big-part">
			<div class="col-lg-2 col-sm-2">
				<h4> Concept </h4>
			</div>
			<div class="col-lg-10 col-sm-10">
				<div class="section">
					<p class="sub-title"> <b> Testing the Core </b> 
					</p>
					<p class="sub-big-title"> Conceptual Testing </p>
					<div class="section">
						<p>To test out the concept in a quick and dirty fashion, we wanted to know (1) Whether in practice, such planning method achieves the goal this product aims for: to save resources and to make people feel safe and in control as we expected, (2) What thoughts and problems people may have when following the plan. </p>
					</div>
					<div class="row">
						<div class="col-lg-6 col-sm-6">
							<img src="assets/img/stretch-menus.png" class="part-img">
						</div>
						<div class="col-lg-6 col-sm-6">
							<p class="method-title"> Experience Prototyping </p>
							<p class="method-content"> We created a concept prototype by designing a 4-meal experimental recipe with the help from the expert and asking participants to follow the instructions. </p>
						</div>
					</div>
				</div>

				<div class="section">
					<p class="sub-title"> <b> Feedback and Iteration </b> </p>
					<p class="sub-big-title"> <b> Design for More Rewarding and Flexible Plan-Following Experience </b> </p>
					<img src="assets/img/stretch-validation-insight.png" class="img-50 margin-15">
					<div class="row section">
						<div class="col-lg-6 col-sm-6">
							<p class="insight-title-medium"><b class="color-emphasis">Effective saving of resources</b></p>
							<p class="insight-content-medium">Participants agreed that planning left-over repurposing and preparing extra for future is very helpful in saving resources, particularly time.</p>
							<br>

							<p class="insight-title-medium"><b class="color-emphasis">Sense of Security</b></p>
							<p class="insight-content-medium">Planning multiple days ahead, getting all required ingredients in advance, and preparing extra portions help user stay away from the worries about uncertainties.</p>
						</div>
						<div class="col-lg-6 col-sm-6">
							<p class="insight-title-medium"><b class="color-emphasis-neg">Planning ahead could be troublesome</b></p>
							<p class="insight-content-medium">It is hard to be determined to start a new plan, and it is stressful to stick to it, unless the <b>perceived benefit</b> is not big enough to outweight such inconvenience.</p>
							<br>

							<p class="insight-title-medium"><b class="color-emphasis-neg">Allowing Flexibility is crucial</b></p>
							<p class="insight-content-medium">Since meals are dependent, the planner should be more <b>flexible</b> to handle cases like missing a meal or changes of ingredient stock.</p>
						</div>
					</div>
					<p> The idea of planning for stretching meals was proven to be worth-developing, and that we needed to take care of making it easy and rewarding to plan and follow plans, and maintaining a fair level of flexibility in the planning mechanism. </p>
				</div>

			</div>
		</div>

		<div class="row section big-part">
			<div class="col-lg-2 col-sm-2">
				<h4> Design </h4>
			</div>
			<div class="col-lg-10 col-sm-10">
				<div class="section">
					<p class="sub-title"> <b> Design Goals </b> </p>
					<p class="sub-big-title"> Establishing Guidelines </p>
					<p> To guide the the product design, we first set up key goals for the product to achieve. We referred to the top 10 psychological needs based on Sheldon et al. to help us see from users' perspectives and establish guidlines for designing the experience to be created for users.</p>
					<div class="section">
						<img src="assets/img/stretch-psychology.png" class="img-70">
						<p class="note-paragraph"> Key psychological needs to address </p>
					</div>

					<div class="section">
						<ul>
							<li><b>What users want to achieve:</b> Making a better use of resources (i.e. time, money, food) to be in control of their eating.</li>
							<li><b>What users need to do to achieve these goals:</b> Better food planning and management practice.</li>
							<li><b>What the product can provide to help them achieve:</b> Better support of food planning and management knowledge and skills.</li>
						</ul>
						<!--<p>It helps people to manage budgets properly to get food that is sufficient for a period, and it helps people to save time by preparing something extra and utilize in the future.</p>-->
					</div>

					<div class="section">
						<p class="sub-title"> <b> Testing the Core </b> </p>
						<p class="sub-big-title"> MVP Design </p>
						<p>Therefore, based on the previous ideations and the goal analysis, we came up with <b>Stretch</b>, a mobile app meal planner that featuring stretching meals as the key concept, to help users better plan and manage their food. </p>
						<p>To begin with, we came up with the MVP that captured the core feature: planning for streched meals. Here shows the wireframes of the MVP. </p>
						<img src="assets/img/stretch-wireframe.png" class="part-img">

						<p>In order to validate it, we conducted both concept validation and usability testing.</p>


						<h5> Usability Testing </h5>
						<p>To test out the UI aspect of our app design, we tested the wireframes printed out as paper prototypes with people. We wanted to know what problems people may have with the UI flow when trying to complete pre-listed tasks. </p>

						
						<p>Based on these insights, we iterated on the current flow, and we further designed and prioritized features to be *coperated* into the product. </p>

					</div>

					<div class="section">
						<p class="sub-title"> <b> Final Design </b> </p>
						<p class="sub-big-title"> Skinning the Product </p>
						<img src="assets/img/stretch-features.png" class="part-img">
					</div>

					<p> Features timeline & structure </p>

					<p> Flowchart & wireframe </p>
					<p> Hi-fi & key features animation</p>
				</div>
			</div>
		</div>


		<div class="row section">
			<div class="col-lg-2 col-sm-2">
				<h4> Exploring  </h4>
			</div>
			<div class="col-lg-10 col-sm-10">
				<p> Validation: concept & usability </p>
				<p> Iteration & new features </p>
				<p> Future plan </p>
				<div>
				</div>
			</div>
		</div>

		<div class="row section">
			<div class="col-lg-2 col-sm-2">
				<h4> Iteration </h4>
			</div>
			<div class="col-lg-10 col-sm-10">
				<p> Validation: concept & usability </p>
				<p> Iteration & new features </p>
				<p> Future plan </p>
			</div>
		</div>
	</div>