<link href="https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lustria" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=GFS+Didot" rel="stylesheet">

<nav class="navbar navbar-expand-md navbar-dark fixed-top my-navbar">
	<a class="navbar-brand" href="#">Jing</a>
	<button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
		<ul class="navbar-nav mr-auto justify-content-end">
			<li class="nav-item dropdown" ngbDropdown>
				<a class="nav-link dropdown-toggle" id="id01" ngbDropdownToggle>Work</a>
				<div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
					<a class="dropdown-item purple-text" href="projects/echoes">Echoes</a>
					<a class="dropdown-item green-text" href="projects/stretch">Stretch</a>
					<a class="dropdown-item coral-text" href="projects/involved">Involved</a>
					<a class="dropdown-item blue-text" href="projects/poco">Poco A Poco</a>
				</div>
			</li>
			<li class="nav-item navbar-right">
				<a class="nav-link" id="id02" href="#">About</a>
			</li>
			<li class="nav-item navbar-right">
				<a class="nav-link" id="id03" href="#">Resume</a>
			</li>
		</ul>
	</div>
</nav>

<!--
<div class="timeline" *ngIf="isScrolled1">
	<a (click)="scrollToElement(bigpart1)">
		<div class="container left" [ngClass]="(!isScrolled2 && isScrolled1) ? 'selected' : 'not-selected'">
			<p class="menu-section-title">Overview</p>
		</div>
	</a>
	<a (click)="scrollToElement(bigpart2)">
		<div class="container left" [ngClass]="(!isScrolled3 && isScrolled2) ? 'selected' : 'not-selected'">
			<p class="menu-section-title">Outcomes</p>
		</div>
	</a>
	<a (click)="scrollToElement(bigpart3)">
		<div class="container left" [ngClass]="(!isScrolled4 && isScrolled3) ? 'selected' : 'not-selected'">
			<p class="menu-section-title">Research</p>
		</div>
	</a>
	<a (click)="scrollToElement(bigpart4)">
		<div class="container left" [ngClass]="(!isScrolled5 && isScrolled4) ? 'selected' : 'not-selected'">
			<p class="menu-section-title">Ideation</p>
		</div>
	</a>
	<a (click)="scrollToElement(bigpart5)">
		<div class="container left" [ngClass]="(!isScrolled6 && isScrolled5) ? 'selected' : 'not-selected'">
			<p class="menu-section-title">Design & Testing</p>
		</div>
	</a>
	<a (click)="scrollToElement(bigpart6)">
		<div class="container left" [ngClass]="(isScrolled6) ? 'selected' : 'not-selected'">
			<p class="menu-section-title">Final</p>
		</div>
	</a>

</div>
-->


<div class="itale-page page">
	<div class="row banner justify-content-around">
		<div class="titles col-lg-4 col-sm-4">
			<p class="banner-title">
				iTale
			</p>
			<p class="banner-subtitle margin-20">
				A creative storytelling playground for children to tell their stories through visual story components.
			</p>
			<div class="attributes">
				<div class="row attribute1">
					<div class="col-lg-6 col-6">
						<div class="attribute-title"><b>Duration</b></div>
						<!--<fa name="calendar"></fa>-->
						<div class="attribute-content">Oct 2019 ~ Apr 2020</div>
					</div>
					<div class="col-lg-6 col-6">
						<div class="attribute-title"><b>Project</b></div>
						<!--<fa name="user"></fa>-->
						<div class="attribute-content">Product Design Intern</div>
						<div class="attribute-content">Capstone Project</div>
					</div>
				</div>
				<div class="row attribute2">
					<div class="col-lg-6 col-6">
						<div class="attribute-title"><b>Core Team</b></div>
						<!--<fa name="cog" animation="spin"></fa>-->
						<div class="attribute-content">1 Product Manager</div>
						<div class="attribute-content">1 Product Designer</div>
						<div class="attribute-content">2 Engineers</div>
					</div>
					<div class="col-lg-6 col-6">
						<div class="attribute-title"><b>Contributions</b></div>
						<!--<fa name="cog" animation="spin"></fa>-->
						<div class="attribute-content">Product Design</div>
						<div class="attribute-content">Design Strategy</div>
						<div class="attribute-content">UX Research</div>
						<div class="attribute-content">Design for Education</div>
						<div class="attribute-content">Prototyping</div>
					</div>
				</div>
			</div>

		</div>
		<div class="col-lg-6 col-sm-6">
			<img class="part-img" src="assets/img/itale-cover.png">
		</div>
	</div>

	<div class="content-wrapper" #wrapper>

		<div class="big-part">
			<div class="big-part-inner">
				<div class="mid-font-content">
					<p>This project was done as a <b>remote</b> passion project with a small team in California. The cross-functional team consisted of a PM, 2 developers, 1 illustrator, and 2 marketers. I joined as the <b>solo designer</b>, and below are some of my key responsibilities:</p>
					<div class="row">
						<div class="col-lg-4">
							<p><b>User Research</b></p>
							<p>I got in touch with parents and educators, and used various research methods to collect and synthesize user data.</p>
						</div>
						<div class="col-lg-4">
							<p><b>Strategy</b></p>
							<p>I communicated and collaborated with the multi-functional team (mainly with PM) to discuss design strategy and feature priority.</p>
						</div>
						<div class="col-lg-4">
							<p><b>Prototype</b></p>
							<p>I built digital and physical prototypes to speed test the idea and design.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="big-part big-part-1" id="big-part-1" #bigpart1>
			<div class="big-part-inner">
				<div class="big-part-head">
					<p class="big-part-title"> Overview </p>
				</div>
				<div class="large-font-content">
					<div class="section">
						<p> Storytelling is a fun educational exercise that boosts children's imagination and literacy skills. When storytelling education shifts from classroom to home, new opportunities and issues emerge.</p>
						<p class="margin-100">
							On one hand, at-home storytelling comes with more flexibility and fun; on the other hand, without professional guidance, it's harder for children to effectively hone and broaden their storytelling skill sets.
						</p>

						<div class="margin-100">
							<p class="sub-big-title"><b>Key design challenges</b></p>
							<p><b>Product-wise:</b> How to coordinate children's needs for fun experience and parents' expectations for visible educational values?</p>
							<p><b>Experience-wise:</b> How to help children overcome challenges, pick up key creative storytelling skills, and most importantly, enjoy the experience?</p>
						</div>

						<p class="sub-big-title">Solution Overview</p>
						<p>A story playground enabling children to use illustration pieces of story elements to freely act out and record stories. Story frameworks and during-story guidance are integrated to help children get a better grasp of narrative flow and sparkle their creativity.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="big-part big-part-2" id="big-part-2" #bigpart2>
			<div class="big-part-inner">
				<div class="big-part-head">
					<p class="big-part-title"> Where the story began... </p>
				</div>
				<div class="mid-font-content">
					<p> Emma, our PM, has been a children story writer for years, and she has a 6-year-old son who loves reading and creating stories. Navigating between family and industry, she's always been thinking of digitizing storybook experience: </p>
					<img src="assets/img/itale-begin.png" class="part-img">
					<p> Next, I asked a few questions to deconstruct the prompt：</p>
					<img src="assets/img/itale-question.png" class="img-70">
				</div>
			</div>
		</div>

		<div class="big-part big-part-3" id="big-part-3" #bigpart3>
			<div class="big-part-inner">
				<div class="big-part-head">
					<p><b>See where these questions led to</b></p>
					<p>⬇</p>
					<p class="big-part-title"> Research & Problem Framing </p>
				</div>
				<div class="mid-font-content">

					<div class="row margin-75">
						<div class="col-lg-8">
							<img class="part-img margin-5" src="assets/img/itale-research.png">
							<p class="note-paragraph margin-75"> A school we visited near Moutain View, CA </p>
						</div>
						<div class="col-lg-4">
							<p>
								To help the team decide the <b>general product direction</b>, I explored the problem space and conducted research guided by the questions I asked.
							</p>
							<p> 
								I visited <b>local elementary schools</b> in both California and Indiana to talk to <b>children, parents and educators</b>. 
							</p>
							<p>To see the full research process, please click [here].
							</p>
						</div>
					</div>

					<p class="sub-title"><b> Challenge 1 - User Needs & Product Directions </b></p>
					<p class="sub-big-title"> What do children and parents value, and how to coordinate their different needs? </p>
					<div class="margin-150">
						<div class="margin-75">
							<p class="margin-50"> We conducted interview with parents on their first-hand experience, and consulted education experts on children's mental development (to read more about research methods, click here).</p>

							<p class="sub-title margin-15">What did we do?</p>
							<div class="row margin-75">
								<div class="col-lg-6">
									<p><b>Mapping User Goals</b></p>
									<p class="margin-20">We synthesized research results by mapping out children’s and parents’ <mark>key motivations, goals, and beliefs</mark> on storytelling. We also summarized <mark>potential educational values</mark> of storytelling we learned from educators.</p>
									<img class="part-img" src="assets/img/itale-user-map.png">
								</div>

								<div class="col-lg-6">
									<p><b> Finding Common Theme</b></p>
									<p class="margin-20">To help us decide the overall product design direction, we had parents prioritize things they care about about storytelling education, and synthesized them with what children care about the most:</p>
									<img class="img-50" src="assets/img/itale-keyword.png">
								</div>
							</div>

							<p class="sub-title margin-15">What did we learn and decide?</p>
							<div class="row">
								<div class="col-lg-4">
									<p><b>Fun > Education</b></p>
									<p>Children focus primarily on the fun aspect and require emotional motives to stay engaged; Adults love to see visible long-term educational values and potential, along with the end result of children’s work. </p>
								</div>

								<div class="col-lg-4">
									<p><b>Creativity > Hard Skills</b></p>
									<p>Being carefree and creative is why children enjoy storytelling, and creativity is among the top lists of educational values that parents hope children to gain through storytelling.</p>
								</div>

								<div class="col-lg-4">
									<p><b>Individual use > Family use</b></p>
									<p>Although most parents agreed that storytelling is important to family communication, many also admitted they don't always have time and energy to guide children through the storytelling process. </p>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-4">
									<p class="sub-text"><b>[Implication]</b> We want to make sure the product is enjoyable in the first place, that children want to use it out of their own will, but also fulfills its educational goal.</p>
								</div>

								<div class="col-lg-4">
									<p class="sub-text"><b>[Implication]</b> Although other hard skills are also important to cover, story creativity will be the top focus of the product.</p>
								</div>

								<div class="col-lg-4">
									<p class="sub-text"><b>[Implication]</b> It's best for the product to primarily target children's individual use at home.</p>
								</div>
							</div>
						</div>
					</div>


					<p class="sub-title"><b> Challenge 2 - Experience & Education </b></p>
					<p class="sub-big-title"> What are problems and opportunities in the current storytelling experience? </p>
					<div class="margin-50">
						<div class="margin-50">
							<p class="margin-50"> We conducted interviews with parents and teachers about their observation and children's experience, collected stories created by children, and read about existing storytelling educational methods to understand the current storytelling experience and emotions behind.</p>

							<p class="sub-title margin-15">What did we do?</p>
							<div class="row">
								<div class="col-lg-6">
									<p><b>Comparing different storytelling forms</b></p>
									<p>To get a more comprehensive understanding of what makes a good storytelling experience in general, we looked into different types of common storytelling practices that children have, and compared their attributes.</p>									
								</div>

								<div class="col-lg-6">
									<p><b>Comparing different storytelling products</b></p>
									<p>To examine what major competitors in the market were doing, we picked 3 products to analyze features in terms of experience and education results to understand what worked and what didn't.</p>
								</div>
							</div>

							<div class="row margin-50">
								<div class="col-lg-6">
									<img class="part-img" src="assets/img/itale-compare-1.png">
								</div>
								<div class="col-lg-6">
									<img class="part-img" src="assets/img/itale-compare-2.png">
								</div>
							</div>
							<div>
								<div>
									<p><b>Going deep into the intended scenario</b></p>
									<p>We further investigated the intended scenario (i.e. at-home individual storytelling) in detail and spot issues/opportunities in terms of educational values and fun experience:</p>
									<img class="part-img" src="assets/img/itale-ex-map.png">
								</div>

								<p class="sub-title margin-15">What did we learn and decide?</p>
								<div class="row">
									<div class="col-lg-4">
										<p><b>Freedom sparkles creativity, but that's not enough</b></p>
										<p>Creativity is not always about inventing everything from scratch, but more about getting inspired and innovating. Proper amount of guidance (e.g. framework, prompts, etc.) greatly helps children expand imagination and organize their creative ideas. </p>
									</div>

									<div class="col-lg-4">
										<p><b>Children lack awareness of story flow and development</b></p>
										<p>When telling stories on their own, many tend to go on and on without much overall control and focus on development (both depth and width). Once they get stuck, they lose interest easily, leaving many dimensions unexplored.</p>
									</div>

									<div class="col-lg-4">
										<p><b>Communication spices up the experience</b></p>
										<p>Children love to share their stories with others. Conversations give them a sense of engagement, and they get more encouraged when being listened to and reacted by the audience actively. </p>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-4">
										<p class="sub-text"><b>[Implication]</b> Ensure enough freedom and provide guidance when needed</p>
									</div>
									<div class="col-lg-4">
										<p class="sub-text"><b>[Implication]</b> Provide both overall guidance and during-storytelling inspiration</p>
									</div>
									<div class="col-lg-4">
										<p class="sub-text"><b>[Implication]</b> Make the guidance conversation-like and provide social support</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="big-part big-part-2" id="big-part-2" #bigpart2>
			<div class="big-part-inner">
				<div class="big-part-head">
					<p><b>How did we translate research insights into product direction?</b></p>
					<p>⬇</p>
					<p class="big-part-title"> Product Vision </p>
				</div>
				<div class="large-font-content">
					<p> In order to make at-home storytelling more engaging and educational for children, iTale is designed to be a playground where children are guided to better understand story elements and story flow, to think and craft more creatively, and to share. </p>

				</div>
			</div>
		</div>

		<div class="big-part big-part-4" id="big-part-4" #bigpart4>
			<div class="big-part-inner">
				<div class="big-part-head">
					<p><b>How did we come up with the core idea following the vision?</b></p>
					<p>⬇</p>
					<p class="big-part-title"> Ideation & Key Strategy </p>
					<!--<p class="big-part-sub-title"> How did we come here </p>-->
				</div>
				<div class="mid-font-content">
					<div class="row margin-75">
						<div class="col-lg-8">
							<img class="part-img margin-5" src="assets/img/itale-ideate.png">
							<p class="note-paragraph margin-75"> Co-creating a cat story with a little participant </p>
						</div>
						<div class="col-lg-4">
							<p>
								To help the team decide the <b>general product direction</b>, I explored the problem space and conducted research guided by the questions I asked.
							</p>
							<p> 
								I visited <b>local elementary schools</b> in both California and Indiana to talk to <b>children, parents and educators</b>. 
							</p>
							<p>To see the full research process, please click [here].
							</p>
						</div>
					</div>

					<p class="sub-big-title"> <b> MVP Strategy </b> </p>
					<p>
						For the MVP, we focused on the design of <b>core storytelling mechanisms</b> first.
						We learned that children need free space to experiment on their own, while being guided effectively both before and during storytelling. Therefore, we brainstormed and developed the basic storytelling tactic of <b>building blocks + streetlights</b>:
					</p>
					<img src="assets/img/itale-strategy.png" class="img-70 margin-50">

					<div class="row">
						<div class="col-lg-6">
							<p> <b> Building Blocks </b> </p>

							<div class="sub-text">
								<p>Building blocks are basic elements used to construct the story. Its primary goal here is for children to comprehend story elements and comfortably brainstorm plots.</p>
								<p>We <mark>brainstormed</mark> different ways to construct a story after <mark>assessing</mark> common storytelling practices that children adopted and various storytelling techniques on how a story is presented to children in an educational setting.</p> 
								<p>To ensure both <mark>fun experience and educational values</mark>, we decided to go with <mark>visualizing Who-Where-What</mark> elements, and children can drag elements around and act out the story:</p>								
								<!--<p class="note-paragraph"> How musicians and listeners value feedback </p> -->
							</div>
						</div>
						<div class="col-lg-6">
							<p> <b> Streetlights </b> </p>
							<div class="sub-text">
								<p>Streetlights are guidance throughout the process that helps children think about stories more thoroughly and creatively. Also, they are inspiration that keeps children excited prevents them from running out of ideas.</p>
								<p>As the research showed, children <mark>lack overall control of storyflow</mark> and the skill to properly <mark>develop plot</mark>. Therefore, we decided to include both overall planning guidance and on-the-way guidance.</p>
								<p> After internal and external brainstorming sessions, we <mark>mapped out different types of guidance</mark> in different stages as following:</p>								
								<!--<p class="note-paragraph"> How musicians and listeners value feedback </p> -->
							</div>
						</div>
					</div>

					<div class="row margin-50">
						<div class="col-lg-6">
							<img src="assets/img/itale-block.png" class="part-img">
						</div>
						<div class="col-lg-6">
							<img src="assets/img/itale-streetlight.png" class="part-img">
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="big-part big-part-5" id="big-part-5" #bigpart5>
			<div class="big-part-inner">
				<div class="big-part-head">
					<p><b>How did we turn the core idea into actual design?</b></p>
					<p>⬇</p>
					<p class="big-part-title"> Design </p>
					<!--<p class="big-part-sub-title"> forms of feedback </p>-->
				</div>
				<div class="mid-font-content">
					<div class="section">
						<p class="sub-big-title"> Design Principles </p>
						<p class="margin-50">To guide the design, we came up with 3 basic principles to follow:</p>
						<img src="assets/img/itale-principle.png" class="margin-75 part-img">

						<p class="sub-big-title"> Task Flow</p>
						<p> We mapped out the major task flow as the MVP design blueprint: </p>
						<img src="assets/img/itale-taskflow.png" class="margin-50 part-img">
						<p>Wireframes and final screens can be found <a (click)="scrollToElement(bigpart7)" class="clickable">here</a>. Below are some major UX decisions that we made along the happy path of storytelling process:</p>

					</div>

					<div>
						<div class="section">
							<p class="sub-title"> <b> [Interaction & Layout] </b> </p>
							<p class="sub-big-title"> <b> How to set up the scene and story elements </b> </p>
						</div>

						<div class="section">
							<p class="sub-title"> <b> [Interaction] </b> </p>
							<p class="sub-big-title"> <b> When & where to incorporate during-scene guidance </b> </p>
						</div>

						<div class="section">
							<p class="sub-title"> <b> [Interaction] </b> </p>
							<p class="sub-big-title"> <b> The right amount of planning </b> </p>
						</div>

					</div>

				</div>
			</div>
		</div>


		<div class="big-part big-part-6" id="big-part-6" #bigpart6>
			<div class="big-part-inner">
				<div class="big-part-head">
					<p class="big-part-title"> Testing & Iterations </p>
					<!--<p class="big-part-sub-title"> How did we come here </p>-->
				</div>
				<div class="mid-font-content">
					<div class="row margin-75">
						<div class="col-lg-7">
							<img class="part-img margin-5" src="assets/img/itale-test.png">
						</div>
						<div class="col-lg-5">
							<p>To <b>validate our idea and ensure the usability of design</b>, we conducted testing sessions with 5 parents and 2 educators.</p>
							<p>Due to the difficulty of prototyping the whole experience digitally, I divided the prototype into 2 parts:</p> 
							<ol>
								<li>
									digital prototype that demonstrates flow and basic UI interactions,
								</li>
								<li>
									physical prototype that demonstrates complicated interaction such as drag-and-drop.
								</li>
							</ol>
						</div>
					</div>		
					
					<p class="sub-big-title"> <b> Overall Feedback </b> </p>
					<p>We received very positive feedback from both parents and educators:</p>
					[img]

					<p class="sub-big-title"> <b> UX Iterations </b> </p>
					<p>There are also iterations to be made: aside from feature-related concerns that have been incorporated in the last part, some other general UX issues include:</p>

					<p class="sub-big-title"> <b> Shooting down fancy ideas </b> </p>
					<p>During the project, we explored design directions broadly via brainstorming, and not all ideas passed through due to factors such as technical concerns and UX concerns. This was an example demonstrating how we handled such situation in general:</p>
					<img class="part-img margin-5" src="assets/img/itale-workaround.png">
				</div>
			</div>
		</div>

		<div class="big-part big-part-7" id="big-part-7" #bigpart7>
			<div class="big-part-inner">
				<div class="big-part-head">
					<p class="big-part-title"> Screens </p>
					<!--<p class="big-part-sub-title"> How did we come here </p>-->
				</div>
				<div class="mid-font-content">
					<p class="sub-big-title"> <b> Wireframes </b> </p>
					<img src="assets/img/itale-wireframe.png" class="margin-50 part-img">
					<p class="sub-big-title"> <b> Final Screens </b> </p>
					<img src="assets/img/itale-final.png" class="margin-50 part-img">
				</div>
			</div>
		</div>

		<div class="big-part">
			<div class="big-part-inner">
				<div class="big-part-head">
					<p class="big-part-title"> Reflection </p>
					<!--<p class="big-part-sub-title"> How did we come here </p>-->
				</div>
				<div class="mid-font-content">
					<ul>
						<li><b>Think ahead and design for more flexibility:</b> As I joined the team at an early stage, it was an important job for me to learn to prioritize features with the team while also keeping an eye on what may possibly come next (e.g. marketing campaign) in order to design in a more flexible way to accommodate future changes.</li>
						<li><b>Find alternative ways to deal with challenging user groups:</b> Children are surely one of the most unique and challenging user groups to conduct research on. To approach the problem differently, I tried to get more information and knowledge via reading and talking to professional educators and parents about their first-hand experience. They sometimes were able to explain children's behaviors and mentality even better than children themselves, which helped me greatly in understanding what I needed to design.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>