body {


}

.light-font {
  font-weight: 300;
}

.bold-font {
  font-weight: bold;
}

.home {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: #FCA18C;
  top: 0px;
}

.home-opened {
  height: 500vh;
  width: 100%;
  position: absolute;
  //background-color: #ff5555;
  font-weight: 300;
  top: 0px;
}

.home-relative {
  position: relative;
}

.home-absolute {
  //position: absolute;
}

.work-grid {
  margin-top: 500vh;
  width: 100%;
  overflow: hidden;
  background-color: #eee;
  padding-bottom: 100px;
  //padding-top: 100px;
}

.emphasis-1 {
  font-weight: bold;
  //color: #ffdc7a;
}

.emphasis-2 {
  font-weight: bold;
  color: #a0daff;
}

.my-navbar {
  background-color: transparent;
}

.my-colored-navbar {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;

  .navbar-brand {
    color: #333;
  }

  .navbar-nav .nav-link {
    color: #444;
  }
}

.side-screen-img {
  width: 80%;
  position: absolute;
}

.side-screen-me-img {
  width: 90%;
  position: absolute;
  transition: transform .2s;
}

.side-screen-me-img:hover {
  //transform: scale(1.5);
  -webkit-transform: scale(1.35);
  transform: scale(1.35);
}

.name {
  margin-bottom: 50px;
  font-size: 60px;
  font-family: 'Lustria', serif;
}

.smaller-name {
  //font-family: 'Lato', sans-serif;
  //font-size: 35px;
  //line-height: 40px;
  //color: #ecf0f1;
  color: rgba(236, 240, 241, 1);
}

.intro-1 {
  position: float;
}

@media only screen and (max-width: 576px) {
  .name {
    //color: #1b2845;
    //background: #ff5555;
    //background-color: rgba(255, 85, 85, 0.5);
  }

  .img-col {
    opacity: 0.5;

  }

  .navbar-dark .navbar-toggler {
    color: #333 !important;


  }

  .navbar-dark .navbar-toggler-icon {
    //background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(51, 51, 51, 1)") !important;
  }
}

.loading-animation {
  height: 100vh;
  //background-color: #FCA18C;

  .app-loading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .app-loading .spinner {
    height: 200px;
    width: 200px;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .heart {
    height: 60px;
    width: 60px;
    transform-origin: center center;
    position: absolute;
    margin: auto;
  }

  .beating-heart {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: beat .5s linear infinite;
  }

  .app-loading .heart .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    fill: #ff5555;
  }

  .app-loading .spinner .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #eee;
    display: none;
  }

    // The bits you want to see
    .beat-loader{
      stroke: #eee;
      stroke-dasharray: 175;
      stroke-dashoffset: 350;
      animation: draw 3s linear infinite;
    }

    .moving-heart {
      animation: move-heart 1.5s linear forwards;
    }

    .bulb {
      height: 400px;
      width: 400px;
      transform-origin: center center;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 50%;

      animation: appear 1s linear;

      path {
        fill: #eee;
      }
    }

  // The animation
  @keyframes draw {
    to{
      stroke-dashoffset: 0;
    }
  }

  @keyframes beat {
    to { transform: scale(1.4); }
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }

  @keyframes move-heart {
    0% {
      transform: scale(1.0);
    }
    100% {
      transform: scale(100.0);
    }
  }
}

.content {
  padding-top: 10%;
  left: 0%;
  width: 100%;
  height: 100vh;
  
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  //line-height: 40px;
  color: #ecf0f1;
  overflow: hidden;
}

.fixed-wave {
  position: fixed;
}

.fixed-content {
  position: fixed;
  top: 0px;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.relative-content {
  position: relative;
}

.absolute-content {
  position: absolute;
  top: 400vh;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.text-block {
  padding-top: 5%;
  //background-color: black;
}

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 50% {transform:translate3d(0,0,0);}
  50%, 100% {transform:translate3d(0,-50%,0);}
}

@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-o-keyframes change {
  0%, 50% {transform:translate3d(0,0,0);}
  50%, 100% {transform:translate3d(0,-50%,0);}
}

@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-moz-keyframes change {
  0%, 50% {transform:translate3d(0,0,0);}
  50%, 100% {transform:translate3d(0,-50%,0);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 50% {transform:translate3d(0,0,0);}
  50%, 100% {transform:translate3d(0,-50%,0);}
}

@keyframes disappear {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.square {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.thumb-image {
  //min-width: 50%;
  //margin-bottom: 50px;
  margin-bottom: 20px;
  img {
    //max-width: 100%;
    max-height: 100%;
    box-shadow: 0 37.125px 40px -12.125px rgba(255,126,141,0.2);
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;

  }

  img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.crop-img {
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.frame-square {
  background: #fff;
  border: 2px solid #000;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  margin-right: .5em;
  margin-bottom: .3em;
}

.frame-round {
  @extend .frame-square;
  border-radius: 50%;
  overflow: hidden;
  
  .crop {border-radius: 50%;}
}

.crop {
  height: 100%;
  overflow: hidden;
  position: relative;
  
  img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
    object-fit: cover;
  }
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

._primary-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  margin: 8px 0;
  font-weight: bold;
    //text-transform: uppercase;
    position: relative;
    font-size: 55px;
    //font-size: 30px;
  }

  ._primary-link::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0%;
    height: .12em;
    //background: #ffdc7a;
    opacity: .8;
  }

  .color-fill {
    height: 400px;
    width: 100%;
    position: absolute;
    left: 0px;
    background: #FDB92D;
  }

  .img-col {
    padding-left: 0px !important;
  }

  .ocean { 
    height: 20%;
    width: 100%;
    position:absolute;
    bottom:0px;
    left:0;
    //background: #015871;
  }

  .wave {
    background: url(../../assets/img/wave.svg) repeat-x; 
    //position: absolute;
    bottom: 0px;
    //width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }

  .ocean2 { 
    height: 20%;
    width: 100%;
    left:0;
    transform: rotate(180deg);
    //background: #015871;
  }

  .wave2 {
    background: url(../../assets/img/wave3.svg) repeat-x; 
    //position: absolute;
    bottom: 0px;
    //width: 6400px;
    height: 198px;
    animation: wave2 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite;
    transform: translate3d(0, 0, 0);
  }

  .wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }

  @keyframes wave2 {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }

  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }

  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }

  .section-title {
    font-family: 'Lustria', serif;
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
    font-weight: bold;
  }

  .project-categories {
    color: #999;
    font-size: 12px;
  }

  .project-title {
    //color: #999;
    font-size: 22px;
    font-family: 'Lustria', serif;
    font-weight: bold;
  }

  .project-description {
    font-size: 16px;
    font-family: 'Lustria', serif;
  }

  .project {
    margin-bottom: 80px;
  }

  .hid-on-init {
    visibility: hidden;
  }

  .animated {
    visibility: visible !important;
  }

  .foot {
    background-color: #eee;

    .copyright {
      margin-bottom: 0px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 12px;
    }
  }

  .center-align {
    text-align: center;
  }

  .circle-img {
    border-radius: 50%;
  }

  .profile-img {
    width: 100%;
  }

  .about {
    background-color: white;
    padding-top: 150px;
  }

  .profile-info {
    padding-top: 30px;
    padding-bottom: 150px;
    font-size: 18px;
    font-weight: 300;
  }

  .greeting-title {
    //font-family: 'Lustria', serif;
    //text-align: center;
    font-size: 30px;
    //margin-bottom: 20px;
    //margin-top: 100px;
    font-family: courier-std,monospace;
    font-weight: 700;
    font-style: normal;
  }

  .greeting-code {
    //font-family: 'Lustria', serif;
  }

  .intro-para {
    margin-top: 20px;
    -webkit-text-stroke: 0.45px;
    -webkit-font-smoothing: antialiased;
    text-stroke: 0.45px;
    font-smoothing: antialiased;
    letter-spacing: 0.01rem;

    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 300;

    li {
      margin-bottom: 0px;
      padding-bottom: 0px;
    }

    .list {
      border-left: 2px solid black;
      padding-left: 15px;
      margin-left: 30px;

      div {
        margin-bottom: 10px;
      }
    }
  }

  .me-img-2 {
    width: 35%;
    left: 30%;
    top: 30%;
  }

  .me-img-3 {
    width: 22%;
    top: 45%;
  }

  .me-img-4 {
    width: 22%;
    top: 45%;
    right: 15%;
  }

  .me-img-5 {
    width: 22%;
    top: 75%;
  }

  .me-img-6 {
    width: 22%;
    top: 75%;
    right: 10%;
  }

  .side-screen-me {
    position: relative;
    //max-height: 50vh;
    //min-height: 50vh;
    //display: flex;
    //flex-direction: column;
    //box-sizing: border-box;
  }

  .hover-instruction {
    font-family: 'Lustria', serif;
    font-size: 12px;
    color: gray;
    margin-left: 10%;
    margin-bottom: 15px;
  }

  .width-85 {
    padding-left: 7%;
    padding-right: 7%;

    .project-title {
      font-size: 20px;
    }

    .project-description {
      font-size: 14px;
    }
  }

  .width-70 {
    padding-left: 12%;
    padding-right: 12%;
  }

  .itale-row {
    background-color: #ECA835;
  }

  .section-intro {
    font-size: 18px;
    font-family: 'Lustria', serif;
    text-align: center;
  }

  .margin-15 {
    margin-bottom: 15px;
  }

  .margin-50 {
    margin-bottom: 50px;
  }


// 6 is the number of animation.
// Here, there are 4 lines :

// 1 to 2
// 2 to 3
// 3 to 4
// 4 to 3
// 3 to 2
// 2 to 1

// 6x + 6y = 100 (100% duration)

// HERE : 
// y = 4 -> Animation between two lines
// x = 12.66 -> Time spent on a line

// You can define a value and calculate the other if you want change speed or the number of lines