body {
  
  
}

.home {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: #FCA18C;
}

.home-opened {
  height: 200vh;
  background-color: #ff5555;
}

.my-navbar {
  background-color: transparent;
}

.side-screen-img {
  width: 400px;
}

.loading-animation {
  height: 100vh;
  //background-color: #FCA18C;

  .app-loading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .app-loading .spinner {
    height: 200px;
    width: 200px;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .heart {
    height: 60px;
    width: 60px;
    transform-origin: center center;
    position: absolute;
    margin: auto;
  }

  .beating-heart {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: beat .5s linear infinite;
  }

  .app-loading .heart .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    fill: #ff5555;
  }

  .app-loading .spinner .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #eee;
    display: none;
  }

    // The bits you want to see
    .beat-loader{
      stroke: #eee;
      stroke-dasharray: 175;
      stroke-dashoffset: 350;
      animation: draw 3s linear infinite;
    }

    .moving-heart {
      animation: move-heart 1.5s linear forwards;
    }

    .bulb {
      height: 400px;
      width: 400px;
      transform-origin: center center;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 50%;

      animation: appear 1s linear;

      path {
        fill: #eee;
      }
    }

  // The animation
  @keyframes draw {
    to{
      stroke-dashoffset: 0;
    }
  }

  @keyframes beat {
    to { transform: scale(1.4); }
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }

  @keyframes move-heart {
    0% {
      transform: scale(1.0);
    }
    100% {
      transform: scale(100.0);
    }
  }
}

.content {
  position: fixed;
  top: 25%;
  left: 0%;
  height: 500px;
  overflow:hidden;
  
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #ecf0f1;
  
  &__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;

    &:before {
      content: '[';
      left: 0;
    }

    &:after {
      content: ']';
      position: absolute;
      right: 0;
    }

    &:after, &:before {
      position: absolute;
      top: 0;
      
      color: #16a085;
      font-size: 42px;
      line-height: 40px;
      
      -webkit-animation-name: opacity;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      animation-name: opacity;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }

    &__text {
      display: inline;
      float: left;
      margin: 0;
    }

    &__list {
      margin-top: 0;
      padding-left: 110px;
      text-align: left;
      list-style: none;
      
      -webkit-animation-name: change;
      -webkit-animation-duration: 10s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-fill-mode: forwards;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;

      &__item {
        line-height:40px;
        margin:0;
      }
    }
  }
}

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 50% {transform:translate3d(0,0,0);}
  50%, 100% {transform:translate3d(0,-50%,0);}
}

@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-o-keyframes change {
  0%, 50% {transform:translate3d(0,0,0);}
  50%, 100% {transform:translate3d(0,-50%,0);}
}

@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-moz-keyframes change {
  0%, 50% {transform:translate3d(0,0,0);}
  50%, 100% {transform:translate3d(0,-50%,0);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 50% {transform:translate3d(0,0,0);}
  50%, 100% {transform:translate3d(0,-50%,0);}
}

@keyframes disappear {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

// 6 is the number of animation.
// Here, there are 4 lines :

// 1 to 2
// 2 to 3
// 3 to 4
// 4 to 3
// 3 to 2
// 2 to 1

// 6x + 6y = 100 (100% duration)

// HERE : 
// y = 4 -> Animation between two lines
// x = 12.66 -> Time spent on a line

// You can define a value and calculate the other if you want change speed or the number of lines