body {


}

.home {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: #FCA18C;
}

.home-opened {
  height: 450vh;
  width: 100%;
  position: absolute;
  background-color: #ff5555;
}

.home-relative {
  position: relative;
}

.home-absolute {
  //position: absolute;
}

.work-grid {
  margin-top: 450vh;
  width: 100%;
  overflow: hidden;
  background-color: #eee;
}

.emphasis-1 {
  font-weight: bold;
  color: #ffc862;
}

.emphasis-2 {
  font-weight: bold;
  color: #a0daff;
}

.my-navbar {
  background-color: transparent;
}

.side-screen-img {
  width: 450px;
  position: absolute;
}

.name {
  margin-bottom: 100px;
  font-size: 50px;
}

.smaller-name {
  //font-family: 'Lato', sans-serif;
  font-size: 35px;
  //line-height: 40px;
  //color: #ecf0f1;
  color: rgba(236, 240, 241, 0.5);
}

.intro-1 {
  position: float;
}

.loading-animation {
  height: 100vh;
  //background-color: #FCA18C;

  .app-loading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .app-loading .spinner {
    height: 200px;
    width: 200px;
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .heart {
    height: 60px;
    width: 60px;
    transform-origin: center center;
    position: absolute;
    margin: auto;
  }

  .beating-heart {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: beat .5s linear infinite;
  }

  .app-loading .heart .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    fill: #ff5555;
  }

  .app-loading .spinner .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
    stroke: #eee;
    display: none;
  }

    // The bits you want to see
    .beat-loader{
      stroke: #eee;
      stroke-dasharray: 175;
      stroke-dashoffset: 350;
      animation: draw 3s linear infinite;
    }

    .moving-heart {
      animation: move-heart 1.5s linear forwards;
    }

    .bulb {
      height: 400px;
      width: 400px;
      transform-origin: center center;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 50%;

      animation: appear 1s linear;

      path {
        fill: #eee;
      }
    }

  // The animation
  @keyframes draw {
    to{
      stroke-dashoffset: 0;
    }
  }

  @keyframes beat {
    to { transform: scale(1.4); }
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }

  @keyframes move-heart {
    0% {
      transform: scale(1.0);
    }
    100% {
      transform: scale(100.0);
    }
  }
}

.content {
  padding-top: 15%;
  left: 0%;
  width: 100%;
  
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  //line-height: 40px;
  color: #ecf0f1;
}

.fixed-content {
  position: fixed;
}

.relative-content {
  position: relative;
}

.absolute-content {
  position: absolute;
  top: 350vh;
}

.text-block {
  padding-top: 5%;
}

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 50% {transform:translate3d(0,0,0);}
  50%, 100% {transform:translate3d(0,-50%,0);}
}

@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-o-keyframes change {
  0%, 50% {transform:translate3d(0,0,0);}
  50%, 100% {transform:translate3d(0,-50%,0);}
}

@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-moz-keyframes change {
  0%, 50% {transform:translate3d(0,0,0);}
  50%, 100% {transform:translate3d(0,-50%,0);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 50% {transform:translate3d(0,0,0);}
  50%, 100% {transform:translate3d(0,-50%,0);}
}

@keyframes disappear {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.square {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.thumb-image {
  //min-width: 50%;

  img {
    max-width: 100%;
    box-shadow: 10px 10px 5px grey;
  }
}

.crop-img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.frame-square {
  background: #fff;
  border: 2px solid #000;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  margin-right: .5em;
  margin-bottom: .3em;
}

.frame-round {
  @extend .frame-square;
  border-radius: 50%;
  overflow: hidden;
  
  .crop {border-radius: 50%;}
}

.crop {
  height: 100%;
  overflow: hidden;
  position: relative;
  
  img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
    object-fit: cover;
  }
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

// 6 is the number of animation.
// Here, there are 4 lines :

// 1 to 2
// 2 to 3
// 3 to 4
// 4 to 3
// 3 to 2
// 2 to 1

// 6x + 6y = 100 (100% duration)

// HERE : 
// y = 4 -> Animation between two lines
// x = 12.66 -> Time spent on a line

// You can define a value and calculate the other if you want change speed or the number of lines